Source: dynamic-graph
Section: libs
Priority: extra
Maintainer: Rohan Budhiraja <budhiraja.rohan@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
	       cmake (>= 2.6),
	       doxygen (>=1.6.3),
	       pkg-config (>=0.22),
	       perl (>=5.10.1),
	       libboost-dev (>=1.46),
	       libboost-filesystem-dev (>=1.46),
      	       libboost-system-dev (>=1.46),
      	       libboost-test-dev (>=1.46),
      	       libboost-thread-dev (>=1.46),
      	       libboost-program-options-dev (>=1.46),
	       libpthread-stubs0-dev (>=0.3),
	       libeigen3-dev (>=3.0.5)
Standards-Version: 3.9.8
Homepage: http://stack-of-tasks.github.io
Vcs-Git: https://github.com/proyan/dynamic-graph.git

Package: libdynamic-graph-dev
Section: libdevel
Architecture: any
Depends: libdynamic-graph3.0.0 (= ${binary:Version}),
	 ${misc:Depends}
Suggests: libdynamic-graph-doc
Description: Dynamic graph C++ library development package
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.
 .
 This package contains development files (headers and pkg-config file).

Package: libdynamic-graph3.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dynamic graph C++ library
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.


Package: libdynamic-graph-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for the dynamic graph C++ library
 The dynamic graph library allows the representation of data-flow in C++.
 It provides fast graph evaluation and a simple script language to manipulate
 the graph actions.
 .
 This package contains the Doxygen documentation.